@charset "UTF-8";
/**variante color**/
/**variante shadow**/
/**mixin**/
/***Body***/
/***Main**/
/*Loading spinner*/
/*header*/
/*Img header*/
/*Présentation et intro*/
/*Bottons*/
/*Operation*/
/*Barre de recherche*/
/*Trending*/
/*Restaurants*/
/*Like home_page card*/
/*Like page menu*/
/*Form page*/
/*Order page*/
/*Footer*/
@media screen and (max-width: 1204px) {
  .header_navigation .header_navigation_menu {
    min-width: 50%;
  }
  #header .header_logo {
    padding: 1.5em;
  }
  #home_page_intro .home_page_intro_framing .site_title {
    font-size: 3.5em;
  }
  .btn_home_page {
    margin: 1em;
  }
  #restaurants .restaurants_framing {
    width: 95%;
  }
  .restaurant_card {
    width: 75vw;
    height: 30em;
    margin-bottom: 30px;
  }
  .restaurant_card .card_img {
    height: 315px;
  }
  .restaurant_card .card_img_2 {
    height: 24em;
  }
  .restaurant_card .card_img_3 {
    height: 24em;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px 30px 0px;
  }
  .box_framing {
    padding: 0px 30px 0px 30px;
    width: 95%;
  }
  .name_group_1 {
    width: 7.5%;
  }
  .name_group_2 {
    width: 4.8%;
  }
  .name_group_3 {
    width: 8.5%;
  }
  .title_dish {
    width: 82em;
  }
  .starter_box {
    width: 100%;
  }
  .main_dish_box {
    width: 100%;
  }
  .dessert_box {
    width: 100%;
  }
  #information .information_logo {
    font-size: 1.2em;
    margin-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .information_box {
    margin: 0;
    padding: 0;
  }
  #information .information_title {
    margin: 0;
  }
  .information_box .information_box--option_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .information_box .information_box--option_list .option {
    font-size: 1.2em;
    margin-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .information_box .information_box--option_list .contact_link {
    font-size: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .option {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 868px) {
  .header_navigation .header_navigation_menu {
    width: 100%;
  }
  .line_break {
    display: block;
  }
  .search_bar .search_bar-input {
    width: 30%;
  }
  .box_framing {
    padding: 0px 0px 0px 12px;
  }
  .name_group_1 {
    width: 10%;
  }
  .name_group_2 {
    width: 6.5%;
  }
  .name_group_3 {
    width: 11.5%;
  }
  .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order .button_order {
    margin-right: 0;
  }
  .finish .button_finish {
    margin-right: 20px;
  }
}

@media screen and (max-width: 603px) {
  body {
    margin: 0;
    width: 100%;
  }
  #main_color {
    background-color: #eaeaea;
  }
  .loading_text {
    text-align: center;
  }
  #header {
    width: 100%;
  }
  .search_bar .search_bar-input {
    width: 50%;
  }
  img.logo {
    width: 330px;
    height: 60px;
  }
  #home_page_intro .home_page_intro_framing .site_title {
    font-size: 3em;
    margin-top: 1em;
  }
  #home_page_intro .home_page_intro_framing .introduction {
    font-size: 1.5em;
  }
  .btn_home_page .button {
    background-color: #fff;
  }
  .operation {
    width: 27em;
    margin: 3em 0em 2em 0em;
  }
  .operation .icone {
    margin: 0;
  }
  .operation .operation_number {
    width: 40px;
    height: 45px;
    padding: 0;
  }
  .operation .operation_number--choice {
    padding: 0;
    font-size: 0.9em;
  }
  .operation .operation_number--choice--color {
    background-color: #fff;
    padding: 0;
    font-size: 0.9em;
  }
  #restaurants {
    padding-bottom: 0;
  }
  #restaurants .restaurants_title {
    margin: 60px 0px 30px 0px;
  }
  #restaurants .restaurants_framing {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trending {
    height: 63em;
    margin: 0;
  }
  #trending .trending_framing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant_card {
    width: 92vw;
    height: 320px;
    margin: 0em 1em 2.5em 1em;
  }
  #trending .card_img_1 {
    height: 250px;
  }
  .restaurant_card .card_img {
    height: 250px;
  }
  .restaurant_card .card_img_2 {
    height: 250px;
  }
  .restaurant_card .card_img_3 {
    height: 250px;
  }
  .card_text {
    padding: 0px 10px 10px 0px;
  }
  .back_to_home_page {
    margin: 0px 0px 8px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img_title_header {
    text-align: center;
    font-size: 1.7em;
    border-radius: 20px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #operation_box_shadow {
    background-color: #eaeaea;
    z-index: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: -50px;
    border-radius: 45px 45px 0 0;
  }
  #menu {
    padding: 0;
  }
  .menu_like {
    margin: 0;
    top: 4em;
    padding-left: 10px;
  }
  .box_framing {
    padding-left: 10px;
  }
  .name_group_1 {
    width: 20%;
  }
  .name_group_2 {
    width: 13%;
  }
  .name_group_3 {
    width: 23%;
  }
  .title_dish--name {
    font-size: 1.3em;
  }
  .title_dish--ingredient {
    font-size: 1.2em;
  }
  .title_dish:hover {
    width: 225px;
  }
  .starter_framing {
    padding: 0px 10px 0px 10px;
  }
  .main_dish_framing {
    padding: 0px 10px 0px 10px;
  }
  .dessert_framing {
    padding: 0px 10px 0px 10px;
  }
  .order {
    margin-bottom: 0;
  }
  .order .button_order {
    background-color: #fff;
  }
  #form {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #form .form_title {
    text-align: center;
    font-size: 25px;
  }
  #form .form_framing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  #form .form_framing .form_fraiming--name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #form .form_framing .form_fraiming--adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #form .form_framing .form_fraiming--city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #form .form_framing .form_fraiming--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #form .form_framing .form_fraiming--premium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #form .form_text {
    width: 20em;
  }
  #form .form_text--adress {
    width: 20em;
  }
  #order_confirmation .order_confirmation--title {
    font-size: 1.9em;
  }
  #order_confirmation .order_confirmation--size {
    font-weight: normal;
    font-size: 1.4em;
  }
  .finish {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .finish .button_finish {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 0;
    background-color: #fff;
  }
  .information_box {
    margin: 0px;
  }
  .information_box .information_box--option_list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 411px) {
  .menu_name {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 375px) {
  .menu_name {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=media.css.map */