/***Variables et Mixins**/
/**variante color**/
/**variante shadow**/
/**mixin**/
/***Body***/
/***Main**/
/***CSS page de base***/
body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Roboto-Regular", sans-serif;
}

/***CSS page de base***/
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(60deg, #ff79da, #9356dc);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-animation: disparition 2s ease-in;
          animation: disparition 2s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

.loading_spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 10px;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-left-color: #99e2d0;
  border-right-color: #99e2d0;
  border-radius: 25%;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-animation: loading 1.5s ease-in-out infinite;
          animation: loading 1.5s ease-in-out infinite;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.loading_spinner .icone_onglet {
  width: 80px;
}

.loading_text {
  font-family: "shrikhand regular", sans-serif;
  font-size: 3em;
  font-weight: normal;
  padding: 20px;
  color: #fff;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px 4px #bdb6b6cb;
          box-shadow: 0px 4px 10px 4px #bdb6b6cb;
  z-index: 1;
}

#header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

/*Menu de navigation*/
.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header_navigation .header_navigation_menu {
  width: 30%;
}

.header_navigation .header_navigation_menu--list {
  font-size: 1.8em;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_navigation a {
  text-decoration: none;
  position: relative;
}

.header_navigation .header_navigation_menu--list--link {
  list-style-type: none;
  font-family: "shrikhand regular", sans-serif;
  color: #9356dc;
  position: relative;
}

.header_navigation a.header_navigation_menu--list--link:hover {
  position: relative;
  text-decoration: underline;
}

.header_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.back_to_home_page {
  font-size: 3em;
  color: black;
  margin-left: 40px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.back_to_home_page:hover {
  color: #99e2d0;
  -webkit-transition: opacity, 300ms;
  transition: opacity, 300ms;
}

.cart_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_img .picture_header {
  height: 30em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_title_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: "shrikhand regular", sans-serif;
  position: relative;
}

/*Intro*/
#home_page_intro {
  background: #eaeaea;
  width: 100%;
}

#home_page_intro .home_page_intro_framing {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home_page_intro .home_page_intro_framing .site_title {
  width: 100%;
  font-size: 4.5em;
  font-weight: normal;
  font-family: "shrikhand regular", sans-serif;
  text-align: center;
}

#home_page_intro .home_page_intro_framing .introduction {
  width: 100%;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

/**button**/
.btn_home_page {
  padding: 2em;
}

.btn_home_page .button {
  color: #9356dc;
  border-radius: 2em;
  border: solid 1px #9356dc;
  font-size: 1.5em;
  font-weight: 600;
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  position: relative;
}

.btn_home_page .button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-box-shadow: 0px 7px 10px 0px #bdb6b6cb;
          box-shadow: 0px 7px 10px 0px #bdb6b6cb;
  color: #fff;
  cursor: pointer;
}

#operation_box_shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 0px 4px 7px 4px #bdb6b6cb;
          box-shadow: 0px 4px 7px 4px #bdb6b6cb;
  z-index: 1;
}

.operation {
  margin: 3em 0em 4em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35em;
  position: relative;
}

.operation .operation_number {
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  width: 50px;
  height: 45px;
  margin-right: -0.8em;
  background-color: #9356dc;
  color: #fff;
  z-index: 2;
}

.operation .operation_number-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2em;
  font-size: 1.2em;
  width: 100%;
  padding: 10px 10px 10px 40px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
}

.operation .operation_number-choice--title {
  font-size: 1.5em;
  margin-left: 20px;
}

.operation .icone {
  margin-right: 10px;
  color: #9356dc;
}

.operation :hover {
  background-color: #e4daf0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.search_bar {
  width: 25%;
  height: 3em;
  margin-top: 50px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 10px 4px #bdb6b6cb;
          box-shadow: 0px 4px 10px 4px #bdb6b6cb;
}

.search_bar .search_bar-input {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  color: #9356dc;
  text-align: center;
  margin-left: 10px;
  position: relative;
}

.search_bar .fa-map-marker-alt {
  color: #9356dc;
  font-size: 1.3em;
}

#trending {
  width: 100%;
  margin: 50px;
  background: #eaeaea;
}

#trending .trending_title {
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  font-family: "shrikhand regular", sans-serif;
}

#trending .trending_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#trending .cart_img_1 {
  width: 100%;
  height: 325px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 50px 0px;
}

#restaurants .restaurants_title {
  font-size: 4em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "shrikhand regular", sans-serif;
  font-weight: normal;
  margin: 60px 0px 60px 0px;
}

#restaurants .restaurants_framing {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .restaurants_link {
  text-decoration: none;
}

.restaurant_cart {
  width: 25vw;
  height: 90%;
  border-radius: 15px;
  margin: 0em 1em 2.5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px #0000002e;
          box-shadow: 0px 0px 20px #0000002e;
  position: relative;
  background: #fff;
  position: relative;
}

.restaurant_cart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.restaurant_cart .cart_img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .cart_img_1 {
  width: 100%;
  height: 315px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .cart_img_2 {
  width: 100%;
  height: 315px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .cart_img_3 {
  width: 100%;
  height: 315px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .new {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.7em;
  font-weight: bold;
  background-color: #99e2d0;
  color: #278870;
  padding-top: 10px;
  text-align: center;
  border: solid 1px #278870;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px #99e2d0;
          box-shadow: 0px 0px 15px #99e2d0;
}

.restaurant_cart .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.restaurant_cart .restaurant_name {
  margin: 10px;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

.restaurant_cart .menu_name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px;
  padding: 0;
  color: black;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  background-color: #eaeaea;
  padding: 50px 0px 50px 0px;
}

.home_page_like {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 90%;
  top: 30px;
}

.home_page_like .default_icone {
  position: absolute;
  border-color: linear-gradient(60deg, #ff79da, #9356dc);
}

.home_page_like .hover_icone {
  position: relative;
  color: linear-gradient(60deg, #ff79da, #9356dc);
}

.home_page_like .hover_icone .hover_icone:hover {
  -webkit-animation: heart 2s linear;
          animation: heart 2s linear;
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

.menu_like {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30%;
  top: 45px;
}

.menu_like .default_icone {
  position: absolute;
  border-color: linear-gradient(60deg, #ff79da, #9356dc);
}

.menu_like .hover_icone {
  position: relative;
  color: linear-gradient(60deg, #ff79da, #9356dc);
}

.menu_like .hover_icone .hover_icone:hover {
  -webkit-animation: heart 2s linear;
          animation: heart 2s linear;
}

@keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

.title_dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 10px 10px;
  width: 100%;
  overflow: hidden;
}

.title_dish--name {
  margin: 0;
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title_dish--ingredient {
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  padding: 10px;
  -webkit-animation: check_box_price ease .3s;
          animation: check_box_price ease .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

@-webkit-keyframes check_box_price {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@keyframes check_box_price {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

.price_dish {
  margin: 0;
}

.selec_dish {
  -webkit-animation: selec_dish ease .3s;
          animation: selec_dish ease .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50px;
  overflow: hidden;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.selec_dish:hover {
  display: block;
}

@-webkit-keyframes selec_dish {
  0% {
    opacity: .5;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    opacity: .6;
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    opacity: .7;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    opacity: .8;
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    opacity: .9;
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@keyframes selec_dish {
  0% {
    opacity: .5;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    opacity: .6;
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    opacity: .7;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    opacity: .8;
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    opacity: .9;
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

.check_box_icone {
  -webkit-animation: check_box_icone ease .5s;
          animation: check_box_icone ease .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background-color: #99e2d0;
  color: #fff;
  position: absolute;
}

@-webkit-keyframes check_box_icone {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  20% {
    -webkit-transform: rotate(-75deg) scale(1.03);
            transform: rotate(-75deg) scale(1.03);
  }
  40% {
    -webkit-transform: rotate(-60deg) scale(1.08);
            transform: rotate(-60deg) scale(1.08);
  }
  60% {
    -webkit-transform: rotate(-45deg) scale(1.15);
            transform: rotate(-45deg) scale(1.15);
  }
  80% {
    -webkit-transform: rotate(-30deg) scale(1.08);
            transform: rotate(-30deg) scale(1.08);
  }
  100% {
    -webkit-transform: rotate(5deg) scale(1);
            transform: rotate(5deg) scale(1);
  }
}

@keyframes check_box_icone {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  20% {
    -webkit-transform: rotate(-75deg) scale(1.03);
            transform: rotate(-75deg) scale(1.03);
  }
  40% {
    -webkit-transform: rotate(-60deg) scale(1.08);
            transform: rotate(-60deg) scale(1.08);
  }
  60% {
    -webkit-transform: rotate(-45deg) scale(1.15);
            transform: rotate(-45deg) scale(1.15);
  }
  80% {
    -webkit-transform: rotate(-30deg) scale(1.08);
            transform: rotate(-30deg) scale(1.08);
  }
  100% {
    -webkit-transform: rotate(5deg) scale(1);
            transform: rotate(5deg) scale(1);
  }
}

.starter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: apparition 2.5s cubic-bezier(1, 0.01, 0.68, 0.43);
          animation: apparition 2.5s cubic-bezier(1, 0.01, 0.68, 0.43);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.starter_box:hover {
  overflow: initial;
}

.main_dish_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: apparition 3s cubic-bezier(1, 0.01, 0.68, 0.43);
          animation: apparition 3s cubic-bezier(1, 0.01, 0.68, 0.43);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.dessert_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: apparition 3.5s cubic-bezier(1, 0.01, 0.68, 0.43);
          animation: apparition 3.5s cubic-bezier(1, 0.01, 0.68, 0.43);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.order {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.order .button {
  color: #9356dc;
  border-radius: 2em;
  border: solid 1px #9356dc;
  font-size: 1.5em;
  font-weight: 600;
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  margin: 20px 0px 20px 30px;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.order .button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-transition-delay: 100ms, 200ms;
          transition-delay: 100ms, 200ms;
  -webkit-box-shadow: 0px 7px 10px 0px #0c0a0a65;
          box-shadow: 0px 7px 10px 0px #0c0a0a65;
  color: #fff;
  cursor: pointer;
}

.order .button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#99e2d0));
  background: linear-gradient(#9356dc, #99e2d0);
  color: #fff;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #eaeaea;
  margin-bottom: 5em;
}

#form .form_title {
  font-family: "shrikhand regular", sans-serif;
  font-size: 30px;
}

#form .form_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#form .form_text {
  margin: 10px;
  background-color: #fff;
  color: #9356dc;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  width: 15em;
}

#form .form_text_adress {
  margin: 10px;
  background-color: #fff;
  color: #9356dc;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  width: 34em;
}

#order_confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 50px;
  background: #eaeaea;
}

#order_confirmation .order_confirmation--title {
  font-family: "shrikhand regular", sans-serif;
  font-size: 2.5em;
  text-align: center;
}

#order_confirmation .order_confirmation--size {
  text-align: center;
  font-size: 1.5em;
}

#information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  padding: 20px 0px 20px 0px;
  position: relative;
}

#information .information_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#information .information_title {
  color: #fff;
  font-family: "shrikhand regular", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
  text-decoration: none;
}

.information_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.information_box .information_box--option_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information_box .information_box--option_list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.information_box .information_box--option_list .option:hover {
  color: #ff79da;
  -webkit-transition: opacity, 900ms;
  transition: opacity, 900ms;
}

.information_box .information_box--option_list .icone {
  margin-right: 10px;
  color: #9356dc;
}
/*# sourceMappingURL=styles.css.map */