/**variante color**/
/**mixin**/
body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/****header****/
/***Top-header***/
#header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header-top .header-logo {
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: 0px 4px 10px 4px #bdb6b6cb;
          box-shadow: 0px 4px 10px 4px #bdb6b6cb;
  z-index: 1;
}

/***barre de recherche**/
.geolocation_search_bar {
  width: 100%;
  height: 2.5em;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 10px;
}

.geolocation_search_bar #input {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  color: #9356dc;
  text-align: center;
  margin-left: 10px;
}

.geolocation_search_bar .fa-map-marker-alt {
  color: #9356dc;
  font-size: 1.3em;
}

/***barre de recherche**/
/***Exploration***/
#exploration {
  width: 100%;
}

#exploration .exploration_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
}

#exploration .site_title {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: "shrikhand regular", sans-serif;
}

#exploration .introduction {
  font-size: 2em;
  font-weight: normal;
  color: grey;
  margin-bottom: 50px;
}

/***button***/
.button {
  color: #9356dc;
  border-radius: 2em;
  border: solid 1px #9356dc;
  font-size: 1.5em;
  font-weight: 600;
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0px 7px 10px 0px #bdb6b6cb;
          box-shadow: 0px 7px 10px 0px #bdb6b6cb;
  color: #fff;
  cursor: pointer;
}

/***button***/
/***Operation***/
#operation {
  width: 100%;
  text-align: center;
  padding: 60px 0px 60px 0px;
}

#operation .operation_title {
  font-size: 3.5em;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 40px;
  font-family: "shrikhand regular", sans-serif;
}

#operation .operation_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

#operation .number {
  border-radius: 50px;
  text-align: center;
  font-size: 1.5em;
  padding-top: 3px;
  margin-top: 27px;
  margin-right: -0.8em;
  width: 30px;
  height: 30px;
  background-color: #9356dc;
  color: #fff;
  z-index: 1;
}

#operation .operation_number {
  margin: 3px 0px 0px 0px;
}

#operation.operation_div {
  font-size: 1.4em;
  padding: 0px 0px 0px 30px;
  margin: 0;
}

#operation .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
  height: 60px;
  padding: 10px 10px 10px 40px;
  margin-right: 3em;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  cursor: pointer;
}

#operation .choice:hover {
  background-color: #f59cdc;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

#operation .icone {
  margin: 10px;
  color: #9356dc;
}

/***Operation***/
/***Restaurants***/
#restaurants {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 50px 0px;
}

#restaurants .restaurants_title {
  font-size: 4em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "shrikhand regular", sans-serif;
  font-weight: normal;
  margin: 60px 0px 60px 0px;
}

#restaurants .restaurants_framing {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .restaurants_link {
  text-decoration: none;
}

/**cart restaurants**/
.restaurant_cart {
  width: 25vw;
  min-width: 150px;
  border-radius: 15px;
  margin: 0em 1em 3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px #0000002e;
          box-shadow: 0px 0px 20px #0000002e;
  position: relative;
}

.restaurant_cart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.restaurant_cart .cart_img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .cart_img_2 {
  width: 100%;
  height: 350px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .new {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.7em;
  font-weight: bold;
  background-color: #99e2d0;
  color: #278870;
  padding-top: 10px;
  text-align: center;
  border: solid 1px #278870;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px #99e2d0;
          box-shadow: 0px 0px 15px #99e2d0;
}

.restaurant_cart .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant_cart .restaurant_name {
  margin: 10px;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

.restaurant_cart .menu_name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px;
  padding: 0;
  color: black;
}

.restaurant_cart .icone_heart {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  color: #9356dc;
}

/**cart restaurants**/
/***Restaurants***/
/***Footer***/
#information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  padding: 20px 0px 20px 0px;
}

#information .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#information .footer_title {
  color: #fff;
  font-family: "shrikhand regular", sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-decoration: none;
}

#information :hover {
  color: #99e2d0;
}

#information .footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#information .option_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#information .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  text-align: end;
}

#information .option:hover {
  color: #ff79da;
}

#information .icone {
  margin-right: 10px;
}

/***Footer***/
/*# sourceMappingURL=styles.css.map */