@charset "UTF-8";
/***Variables et Mixins**/
/**variante color**/
/**variante shadow**/
/**mixin**/
/***Body***/
/***Main**/
/***Variables et Mixins**/
/****loading-spinner****/
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(60deg, #ff79da, #9356dc);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-animation: disparition 4s ease-in;
          animation: disparition 4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

.loading_spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 10px;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-left-color: #99e2d0;
  border-right-color: #99e2d0;
  border-radius: 25%;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-animation: loading 1.5s ease-in-out infinite;
          animation: loading 1.5s ease-in-out infinite;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.loading_spinner .icone_onglet {
  width: 80px;
}

.loading_text {
  font-family: "shrikhand regular", sans-serif;
  font-size: 3em;
  font-weight: normal;
  padding: 20px;
  color: #fff;
}

/****loading-spinner****/
/***CSS page de base***/
body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Roboto-Regular", sans-serif;
}

/***CSS page de base***/
/***Home Page***/
/****header****/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px 4px #bdb6b6cb;
          box-shadow: 0px 4px 10px 4px #bdb6b6cb;
  z-index: 1;
}

#header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

/***Menu de navigation***/
.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header_navigation .header_navigation_menu {
  width: 30%;
}

.header_navigation .header_navigation_menu--list {
  font-size: 1.8em;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_navigation a {
  text-decoration: none;
  position: relative;
}

.header_navigation .header_navigation_menu--list--link {
  list-style-type: none;
  font-family: "shrikhand regular", sans-serif;
  color: #9356dc;
  position: relative;
}

.header_navigation a.header_navigation_menu--list--link:hover {
  position: relative;
  text-decoration: underline;
}

/****header****/
/***Intro***/
#home_page_intro {
  background: #eaeaea;
  width: 100%;
}

#home_page_intro .home_page_intro_framing {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home_page_intro .home_page_intro_framing .site_title {
  width: 100%;
  font-size: 4.5em;
  font-weight: normal;
  font-family: "shrikhand regular", sans-serif;
  text-align: center;
}

#home_page_intro .home_page_intro_framing .introduction {
  width: 100%;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

/***button***/
.btn_home_page {
  padding: 2em;
}

.btn_home_page .button {
  color: #9356dc;
  border-radius: 2em;
  border: solid 1px #9356dc;
  font-size: 1.5em;
  font-weight: 600;
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  position: relative;
}

.btn_home_page .button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-box-shadow: 0px 7px 10px 0px #bdb6b6cb;
          box-shadow: 0px 7px 10px 0px #bdb6b6cb;
  color: #fff;
  cursor: pointer;
}

/***Home Page***/
/***Page accueil restaurant***/
/***Même header***/
/***Operation***/
.operation {
  margin: 5em 0em 2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50em;
  position: relative;
}

.operation .operation_number {
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  width: 50px;
  height: 45px;
  margin-right: -0.8em;
  background-color: #9356dc;
  color: #fff;
  z-index: 2;
}

.operation .operation_number-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2em;
  font-size: 1.2em;
  width: 100%;
  padding: 10px 10px 10px 40px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
}

.operation .operation_number-choice--title {
  font-size: 1.5em;
  margin-left: 20px;
}

.operation .icone {
  margin-right: 10px;
  color: #9356dc;
}

/***Operation***/
/***barre de recherche**/
.search_bar {
  width: 25%;
  height: 3em;
  margin-top: 50px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 10px 4px #bdb6b6cb;
          box-shadow: 0px 4px 10px 4px #bdb6b6cb;
}

.search_bar .search_bar-input {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  color: #9356dc;
  text-align: center;
  margin-left: 10px;
  position: relative;
}

.search_bar .fa-map-marker-alt {
  color: #9356dc;
  font-size: 1.3em;
}

/***barre de recherche**/
/***Les plus populaires***/
#trending {
  width: 100%;
  margin: 50px;
  background: #eaeaea;
}

#trending .trending_title {
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  font-family: "shrikhand regular", sans-serif;
}

#trending .trending_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#trending .cart_img_1 {
  width: 100%;
  height: 325px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

/***Les plus populaires***/
/***Restaurants***/
#restaurants {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 50px 0px;
}

#restaurants .restaurants_title {
  font-size: 4em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "shrikhand regular", sans-serif;
  font-weight: normal;
  margin: 60px 0px 60px 0px;
}

#restaurants .restaurants_framing {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .restaurants_link {
  text-decoration: none;
}

/**cart restaurants**/
.restaurant_cart {
  width: 25vw;
  min-width: 150px;
  border-radius: 15px;
  margin: 0em 1em 3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px #0000002e;
          box-shadow: 0px 0px 20px #0000002e;
  position: relative;
  background: #fff;
}

.restaurant_cart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.restaurant_cart .cart_img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .cart_img_2 {
  width: 100%;
  height: 325px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_cart .new {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.7em;
  font-weight: bold;
  background-color: #99e2d0;
  color: #278870;
  padding-top: 10px;
  text-align: center;
  border: solid 1px #278870;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px #99e2d0;
          box-shadow: 0px 0px 15px #99e2d0;
}

.restaurant_cart .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant_cart .restaurant_name {
  margin: 10px;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

.restaurant_cart .menu_name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px;
  padding: 0;
  color: black;
}

.icone_heart {
  font-size: 2.5em;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.icone_heart .icone_bf {
  position: absolute;
}

.icone_heart .icone_af {
  position: absolute;
}

.icone_heart .icone_af:hover {
  position: relative;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-animation: heart 2s linear;
          animation: heart 2s linear;
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

/**cart restaurants**/
/***Restaurants***/
/***Footer***/
#information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  padding: 20px 0px 20px 0px;
  position: relative;
}

#information .information_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#information .information_title {
  color: #fff;
  font-family: "shrikhand regular", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
  text-decoration: none;
}

.information_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.information_box .information_box--option_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information_box .information_box--option_list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.information_box .information_box--option_list .option:hover {
  color: #ff79da;
  -webkit-transition: opacity, 900ms;
  transition: opacity, 900ms;
}

.information_box .information_box--option_list .icone {
  margin-right: 10px;
  color: #9356dc;
}

/***Footer***/
/***Page accueil restaurant***/
/***Page Menu***/
/***Header***/
.header_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.back_to_home_page {
  font-size: 3em;
  color: black;
  margin-left: 40px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.back_to_home_page:hover {
  color: #99e2d0;
  -webkit-transition: opacity, 300ms;
  transition: opacity, 300ms;
}

/***Top-header***/
/***Image header***/
.cart_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_img .picture_header {
  height: 30em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_title_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: "shrikhand regular", sans-serif;
  position: relative;
}

.icone_heart {
  font-size: 1em;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.icone_heart .icone_bf {
  position: absolute;
  border-color: linear-gradient(60deg, #ff79da, #9356dc);
}

.icone_heart .icone_af {
  position: absolute;
  color: linear-gradient(60deg, #ff79da, #9356dc);
}

.icone_heart .icone_af:hover {
  position: relative;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-animation: heart 2s linear;
          animation: heart 2s linear;
}

@keyframes heart {
  0% {
    opacity: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  100% {
    opacity: 1;
  }
}

/***Image header***/
/***Menu***/
#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10em;
  position: relative;
}

#menu .menu_framing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
}

#menu .starter_framing {
  width: 300px;
}

#menu .main_dish_framing {
  width: 350px;
}

#menu .dessert_framing {
  width: 300px;
}

#menu .title_dish {
  margin: 10px 0px 0px 10px;
  font-size: 1.4em;
}

#menu .name_dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .name_with_dish {
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: clip;
}

#menu .price {
  font-size: 1.3em;
}

.starter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  -webkit-animation: apparition 3s linear;
          animation: apparition 3s linear;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translatesX(10px);
            transform: translatesX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(10px);
            transform: translatesX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.starter_box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: transparent;
  -webkit-box-shadow: 0px 7px 10px 0px #0c0a0a65;
          box-shadow: 0px 7px 10px 0px #0c0a0a65;
  cursor: pointer;
  background-color: transparent;
  text-overflow: ellipsis;
}

.main_dish_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  -webkit-animation: apparition 3s linear;
          animation: apparition 3s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.main_dish_box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: transparent;
  -webkit-box-shadow: 0px 7px 10px 0px #0c0a0a65;
          box-shadow: 0px 7px 10px 0px #0c0a0a65;
  cursor: pointer;
  background-color: transparent;
  text-overflow: ellipsis;
}

.dessert_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: 80px;
  -webkit-box-shadow: 5px 5px 10px #d3d1d1;
          box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  -webkit-animation: apparition 3s linear;
          animation: apparition 3s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translatesX(20px);
            transform: translatesX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.dessert_box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: transparent;
  -webkit-box-shadow: 0px 7px 10px 0px #0c0a0a65;
          box-shadow: 0px 7px 10px 0px #0c0a0a65;
  cursor: pointer;
  background-color: transparent;
  text-overflow: ellipsis;
}

/***Menu***/
/***Boutton Commander***/
.order {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.order .button {
  color: #9356dc;
  border-radius: 2em;
  border: solid 1px #9356dc;
  font-size: 1.5em;
  font-weight: 600;
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0px 7px 10px -6px #bdb6b6cb;
          box-shadow: 0px 7px 10px -6px #bdb6b6cb;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.order .button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-transition-delay: 100ms, 200ms;
          transition-delay: 100ms, 200ms;
  -webkit-box-shadow: 0px 7px 10px 0px #0c0a0a65;
          box-shadow: 0px 7px 10px 0px #0c0a0a65;
  color: #fff;
  cursor: pointer;
}

/***Boutton Commander***/
/***Page Menu***/
/*# sourceMappingURL=styles.css.map */