@import 'variable.scss';
@import 'mixin.scss';


///***Media queries***///

//*Laptop*//

@media screen and (max-width: 1199px){

    ///*home_page*///

    .header_navigation .header_navigation_menu{
        width: 40%;
    }

    .header_navigation_menu--list{
        padding: 0;
    }

    .search_bar{
        width: 50%;
    }

    #trending{
        height: 45em;
    }

    #restaurants .restaurants_framing{
        width: 85%;
    }

    .restaurant_cart{
        height: 33em;
        width: 35vw; 
    }
    
    #trending .cart_img_1{
        height: 27em;
    }

    .restaurant_cart .cart_img_2{
        height: 27em;
    }
    
    .restaurant_cart .cart_img_3{
        height: 27em;
    }

}

@media screen and (max-width: 768px){

    //**index.htm**//

    .header_navigation .header_navigation_menu{
        width: 50%;
    }

    .line_break{
        display: block;
    }

    //**Home page**//

    #restaurants .restaurants_framing{
        width: 95%;
    }

    .restaurant_cart{
        width: 45vw; 
        height: 29em;
        margin-bottom: 30px;
    }

    #trending .cart_img_1{
        height: 23.5em;
    }

    .restaurant_cart .cart_img_2{
        height: 23.5em;
    }

    .restaurant_cart .cart_img_3{
        height: 23.5em;
    }

    #menu{
        display: flex;
        flex-direction: column;
    }

    .starter_framing{
        padding: 0px 20px 0px 20px;
    }

    .starter_box{
        width: 100%;
    }

    .main_dish_framing{
        padding: 0px 20px 0px 20px;
    }

    .main_dish_box{
        width: 100%;
    }

    .dessert_framing{
        padding: 0px 20px 0px 20px;
    }

    .dessert_box{
        width: 100%;
    }

    .information_box .information_box--option_list .option{
        font-size: 1.19em;
    }
}

@media screen and (max-width: 375px){

}