@import 'variable.scss';
@import 'mixin.scss';


///***Media queries***///

//*Laptop*//
@media screen and (max-width: 1204px){

    //**index.htm**//

    .header_navigation .header_navigation_menu{
        min-width: 50%;
    }

    .line_break{
        display: block;
    }

    //**Home page**//
    #trending{
        height: 72em;
    }

    #trending .trending_framing{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #trending .card_img_1{
        height: 23.5em;
    }

    #restaurants .restaurants_framing{
        width: 95%;
    }

    .restaurant_card{
        width: 75vw; 
        height: 30em;
        margin-bottom: 30px;
    }

    .restaurant_card .card_img_2{
        height: 23.5em;
    }

    .restaurant_card .card_img_3{
        height: 23.5em;
    }


    //**Page menu**//
    #menu{
        display: flex;
        flex-direction: column;
        padding: 30px 0px 30px 0px;
    }

    .box_framing{
        padding: 0px 30px 0px 30px;
        width: 95%;
    }

    .title_dish{
        width: 82em;
    }

    .starter_box{
        width: 100%;
    }

    .main_dish_box{
        width: 100%;
    }

    .dessert_box{
        width: 100%;
    }


    //*Footer*//

    #information .information_logo{
        font-size: 1.2em;
    }
    
    .information_box .information_box--option_list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .information_box .information_box--option_list .option{
        font-size: 1.5em;
       
    }

    .option{
        margin-bottom: 20px;
    
    }
}


@media screen and (max-width: 868px){
    .header_navigation .header_navigation_menu{
        width: 70%;
    }
}

@media screen and (max-width: 868px){
    .header_navigation .header_navigation_menu{
        width: 90%;
    }
}



@media screen and (max-width: 470px){


    body{
        margin: 0;
        width: 100%;
    }

    //*Index.html*//
    .loading_text{
        text-align: center;
    }

    #header{
        width: 100%;
    }

    .header_navigation .header_navigation_menu{
        width: 100%;
    }

    .header_navigation .header_navigation_menu--list{
        padding: 10px;
    }

    img.logo{
        width: 350px;
        height: 70px;
    }

    #home_page_intro .home_page_intro_framing .site_title{
        font-size: 3em;
        padding-top: 20px;
    }

    #home_page_intro .home_page_intro_framing .introduction{
        font-size: 1.5em;
    }

    .order .button_order{
        margin-right: 0;
    }

    //*Home page*//

    .operation{
        width: 27em;
        margin: 5em 0em 5em 0em;
    }

    .operation .icone{
        margin: 0;
    }

    .operation .operation_number{
        width: 40px;
        height: 45px;
        padding: 0;
    }
    .operation .operation_number--choice{
        padding: 0;
        font-size: 1em;
    }

    .operation .operation_number--choice--title{
        margin: 20px 15px 20px 15px;
    }

    .search_bar{
        width: 80%;
        margin-bottom: 50px;
    }

    #restaurants .restaurants_title{
        margin: 60px 0px 30px 0px;
    }

    #restaurants .restaurants_framing{
        padding: 20px;
        display: flex;
        align-items: center;
    }

    #trending{
        height: 63em;
        margin: 0;
    }

    #trending .trending_framing{
        display: flex;
        flex-direction: column;
    }

    .restaurant_card{
        width: 92vw;
        height: 320px;
        margin: 0em 1em 2.5em 1em;
    }

    #trending .card_img_1 {
        height: 250px;
    }

    .restaurant_card .card_img{
        height: 250px;
    }

    .restaurant_card .card_img_2{
        height: 250px;
    }

    .restaurant_card .card_img_3{
        height: 250px;
    }

    .card_text{
        padding: 0px 10px 10px 0px;
    }

    //*Page menu*//
    .back_to_home_page{
        margin: 0px 0px 0px 8px;
        display: flex;
        align-items: center;
    }

    .img_title_header{
        text-align: center;
        font-size: 1.7em;
    }

    .menu_like{
        margin: 0;
        top: 4em;
        padding-left: 10px;
    }

    .box_framing{
        padding-left: 10px;
    }

    .starter_framing{
        padding: 0px 10px 0px 10px;
    }

    .main_dish_framing{
        padding: 0px 10px 0px 10px;
    }

    .dessert_framing{
        padding: 0px 10px 0px 10px;
    }

    .finish .button_finish{
        margin-right: 0;
    }

    //*Form page*//
    #form{
        padding-bottom: 0;
    }

    #form .form_title {
        text-align: center;
        font-size: 25px;
    }

    #form .form_framing{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    #form .form_framing .form_fraiming--name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form .form_framing .form_fraiming--adress{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form .form_framing .form_fraiming--city{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form .form_framing .form_fraiming--phone{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form .form_framing .form_fraiming--premium{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form .form_text{
       width: 20em;
   }

   #form .form_text--adress{
        width: 20em;
   }

   //*Order page*//
   #order_confirmation .order_confirmation--title{
       font-size: 2em;
   }
   #order_confirmation .order_confirmation--size{
       font-weight: normal;
   }

   .information_box{
       margin: 0px;
   }
}