/***Variables et Mixins**/
@import 'variable.scss';
@import 'mixin.scss';
/***Variables et Mixins**/
/****loading-spinner****/
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient( 60deg, $color-secondary, $color-primary);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    animation: disparition 3s linear;
    animation-fill-mode: both;

    @keyframes disparition{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
}
.loading_spinner{
        display: flex;
        justify-content: center;
        border: solid 10px;
        border-top-color: $color-primary;
        border-bottom-color: $color-secondary ;
        border-left-color: $color-tertiary;
        border-right-color: $color-tertiary;
        border-radius: 25%;
        position: relative;
        width: 80px;
        height: 80px;
        animation: loading 1.5s ease-in-out infinite;

        @keyframes loading {
            to{
                transform: rotate(1turn);
            }
        }
    
        .icone_onglet{
            width: 80px;
        }
}
.loading_text{
    font-family: "shrikhand regular", sans-serif;
    font-size: 3em;
    font-weight: normal;
    padding: 20px;
    color:$color-white ;
}
/****loading-spinner****/

/***CSS page de base***/
body{
    @include body;
}

main{
    @include main;
}
/***CSS page de base***/

/**Page menu***/

/****header****/

/***Top-header***/
#top-header{
    background: $color-white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 10px $box-shadow;
    margin: 0;
    width: 100%;
    z-index: 1;

    .logo{
        width: 100%;
        text-align: center;
        padding: 20px 0px 20px 0px;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

.back_to_home_page{
    position: absolute;
    display: flex;
    font-size: 3em;
    color: $color-black;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        color:$color-tertiary;
        transition: opacity, 300ms;
    }
}
/***Top-header***/

/***Image header***/
.cart_img{
    display: flex;
    justify-content: center;

    .picture_header{
        height: 30em;
        width: 100%;
        object-fit: cover;
    }
}
.img_title_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "shrikhand regular", sans-serif;
    position: relative;
}
.icone_heart{
    font-size: 1em;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    
    .icone_bf{
        position: absolute;
        border-color: linear-gradient( 60deg, $color-secondary, $color-primary);
    }
    
    .icone_af{
        position: absolute;
        color: linear-gradient( 60deg, $color-secondary, $color-primary);
    }

    .icone_af:hover{
        position: relative;
        transition-property: background;
        animation: heart 2s linear;

        @keyframes heart {
            0%{
                opacity: 0;
                transition-delay: 1s;
            }
            100%{
                opacity: 1;
            }
        }
    }

}
/***Image header***/

/***Menu***/
#menu{
    display: flex;
    width: 100%;
    margin-bottom: 10em;
    position: relative;
}

.framing_dish{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;

    &::after{
        content: "";
        transition: all;
    }

    .starter{
        width: 300px;
    }
    
    .main_dish{
        width: 350px;
    }
    
    .dessert{
        width: 300px;
    }
    
    .title_dish{
        margin: 10px 0px 0px 10px;
        font-size: 1.4em;
    }
    
    .name_dish{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
       align-items: center;
    }
    
    .name_with_dish{
        margin: 0;
        font-size: 1.3em;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: clip;
    }
    
    .price{
        font-size: 1.3em;
    }
}

.box_1{
    @include box;
    @include apparition_box_1;

    &:hover{
        transform: scale(1.03);
        transition: transform 400ms ease-in-out;
        background: transparent;
        box-shadow: 0px 7px 10px 0px $box-shadow-darken;
        cursor: pointer;
        background-color: transparent;
        text-overflow: ellipsis;
    }  
}

.box_2{
    @include box;
    @include apparition_box_2;

    &:hover{
        transform: scale(1.03);
        transition: transform 400ms ease-in-out;
        background: transparent;
        box-shadow: 0px 7px 10px 0px $box-shadow-darken;
        cursor: pointer;
        background-color: transparent;
        text-overflow: ellipsis;
        
    }  
}

.box_3{
    @include box;
    @include apparition_box_3;


    &:hover{
        transform: scale(1.03);
        transition: transform 400ms ease-in-out;
        background: transparent;
        box-shadow: 0px 7px 10px 0px $box-shadow-darken;
        cursor: pointer;
        background-color: transparent;
        text-overflow: ellipsis;
        
    }  
}

.box_4{
    @include box;
    @include apparition_box_3;

    &:hover{
        transform: scale(1.03);
        transition: transform 400ms ease-in-out;
        background: transparent;
        box-shadow: 0px 7px 10px 0px $box-shadow-darken;
        cursor: pointer;
        background-color: transparent;
        text-overflow: ellipsis;
    }
}

/***Menu***/

/***Boutton Commander***/
.order{
    text-align: center; 
    margin-bottom: 50px;
    position: relative; 

    .button{
        color: $color-primary;
        border-radius: 2em;
        border: solid 1px $color-primary;
        font-size: 1.5em;
        font-weight: 600;
        width: 270px;
        height: 60px;
        box-shadow: 0px 7px 10px -6px $box-shadow;
        margin-bottom: 40px;
        text-align: center;
        transition: transform 400ms ease-in-out;

        &:hover{
            @include movement_btn;
        }
    }
}

/***Boutton Commander***/

/***Footer***/
#information{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px 0px 20px 0px;
    position: relative;

    .title_footer{
        display: flex;
        justify-content: center;
        color: $color-white ;
        font-family: "shrikhand regular", sans-serif;
        font-size: 2.5em;
        margin-bottom: 20px;
        text-decoration: none;
    }
    
    & :hover{
        color: $color-tertiary ;
        transition: opacity, 900ms;
    }
    
    .footer_box{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .option_list{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .option{
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: $color-white ;
        font-size: 1.5em;
        text-align: end;
    }
    
    .option:hover{
        color: $color-secondary;
        transition: opacity, 900ms;
    }

    .icone{
        @include icone_footer ;
    }

}
/***Footer***/