/**mixin**/

/***Body***/
@mixin body {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/***Main**/
@mixin main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "Roboto-Regular", sans-serif;
}





@mixin movement_btn {
    transform: scale(1.09);
    transition: transform 400ms ease-in-out;
    background: linear-gradient($color-secondary, $color-primary);
    transition-delay: 100ms, 200ms;
    box-shadow: 0px 7px 10px 0px $box-shadow-darken;
    color: $color-white ;
    cursor: pointer;
}

@mixin movement_box {
    transform: scale(1.03);
    transition: transform 400ms ease-in-out;
    background: transparent;
    box-shadow: 0px 7px 10px 0px $box-shadow-darken;
    cursor: pointer;
}

@mixin apparition_fraiming_box {
    animation: apparition 3s linear;
    transition-delay: 4s;

    @keyframes apparition {
        0%{
            transform: translatesX(10px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
        
    }  
}

@mixin box_apparition_1 {
    animation: apparition 3s linear;
    animation-fill-mode: both;

    @keyframes apparition {
        0%{
            transform: translatesX(20px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
        
    }
}

@mixin box_apparition_2 {
    animation: apparition 3s linear;
    animation-fill-mode: both;

    @keyframes apparition {
        0%{
            transform: translatesX(20px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
        
    }
}

@mixin box_apparition_3 {
    animation: apparition 3s linear;
    animation-fill-mode: both;

    @keyframes apparition {
        0%{
            transform: translatesX(20px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
        
    }
}

@mixin box {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80px;
    box-shadow: 5px 5px 10px #d3d1d1;
    border-radius: 20px;
    background-color: $color-white;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

}

@mixin box_hover {
    transform: scale(1.03);
    transition: transform 400ms ease-in-out;
    background: transparent;
    box-shadow: 0px 7px 10px 0px $box-shadow-darken;
    cursor: pointer;
    background-color: transparent;
}

@mixin icone {
    margin-right: 10px;
    color: $color-primary;
}

@mixin icone_footer {
    color: $color-secondary;
    transition: opacity, 900ms;
}