/***Variables et Mixins**/
@import 'variable.scss';
@import 'mixin.scss';



/***CSS page de base***/
body{
    @include body;
}

main{
    @include main;
}

///**loading-spinner**///
.loading{
    @include loading;

    @keyframes disparition{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
}
.loading_spinner{
        @include loading_spinner;
        
        @keyframes loading {
            to{
                transform: rotate(1turn);
            }
        }
    
        .icone_onglet{
            width: 80px;
        }
}
.loading_text{
    @include shrikhand;
    @include loading_text;
}

///****header****///
#header{
    @include header;

    .header_logo{
        @include header_logo;
    }
}
/*Menu de navigation*/
.header_navigation{
    @include header_navigation;
    
    .header_navigation_menu{
        @include header_navigation_menu;
    }

        .header_navigation_menu--list{
            @include header_navigation_menu--list;
            
        }

            a{
                @include a;
            }

                .header_navigation_menu--list--link{
                    @include header_navigation_menu--list--link;
                }

                    a.header_navigation_menu--list--link:hover{
                        @include navigatoin_hover;     
                    }           
}

.header_framing{
    @include header_framing;
}

.back_to_home_page{
    @include back_btn;

    &:hover{
        @include back_btn--hover;
    }
}

//**Image header**//
.card_img{
    @include card_img;

    .picture_header{
        @include img_picture;
    }
}

.img_title_header{
    @include img_title_header;
}

/*Intro*/
#home_page_intro{
   @include home_page_intro;

    .home_page_intro_framing{
        @include intro_framing;

            .site_title{
                @include title_site;
            }

                .introduction{
                    @include intro;
                }
    }
}
/**button**/
.btn_home_page{
    @include button_home_page;

    .button{
        @include button;
        
        &:hover{
            @include button_hover;
        }
    }
}

//**Operation**//
#operation_box_shadow{
    @include operation_box_shadow; 
}

.operation{
    @include operation;

    .operation_number{
        @include operation_number;
    }
        .operation_number--choice{
            @include operation_choice;
        }
            .operation_number--choice--title{
                @include operation_title;
            }

                .icone{
                    @include icone;
                }

                    & :hover{
                        @include operation_hover;
                    }
}

//**barre de recherche**//
.search_bar{
    @include search_bar;

    .search_bar-input{
        @include search_bar_input;
    }

        .fa-map-marker-alt{
            @include search_bar_icone;
        }
}

//**Restaurants / Menu **//
//**Les plus populaires**//
#trending{
    @include trending;

    .trending_title{
        @include trending_title;
    }

        .trending_framing{
            @include trending_framing;
        }

            .card_img_1{
                @include card_img_1;
            }
}

#menu{
    @include menu;
}

#restaurants{
    @include restaurants;

        .restaurants_title{
            @include restaurants_title;
        }
    
            .restaurants_framing{
                @include restaurants_framing;
            }

                .restaurants_link{
                    @include restaurants_link;
                }
}

.restaurant_card{
    @include restaurant_card;

        &:hover{
            @include restaurant_hover;
        }
    
            .card_img{
                @include card_img; 
            }

                .card_img_1{
                    @include card_img;
                }

                    .card_img_2{
                        @include card_img;   
                    }

                        .card_img_3{
                            @include card_img;
                        }
                            .new{
                                @include new;
                            }
                
                                .card_text{
                                    @include card_text;
                                }
                
                                    .restaurant_name{
                                        @include restaurant_name;
                                    }
                
                                        .menu_name{
                                            @include menu_name;
                                        }
}

.home_page_like{
    @include home_page_like;

        .home_page_like .default_icone{
            @include default_icone;
        }

        .home_page_like .hover_icone{
            @include hover_icone;

            .hover_icone:hover{
                @include anim_hover_like;
        
                @keyframes heart {
                    0%{
                        opacity: 0;
                        transition-delay: 1s;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        
        }
}

.menu_like{
    @include menu_like;

        .default_icone{
            @include default_icone;
        }

        .hover_icone{
            @include hover_icone;

            .hover_icone:hover{
                @include anim_hover_like;
        
                @keyframes heart {
                    0%{
                        opacity: 0;
                        transition-delay: 1s;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        
        }

}         

.title_dish{
    @include dish_title;

    &--name{
        @include dish_name;
    }

        &--ingredient{
            @include dish_ingredient;
        }
}
        
.price{
    @include price;

    &:hover{
        @keyframes check_box_price {
            0% {
              transform: translate(50px, 0);
            }
          
            40% {
              transform: translate(25px, 0);
            }
          
            70% {
              transform: translate(12px, 0);
            }
          
            100% {
              transform: translate(1px, 0);
            }
          }
    }
  
    &_dish{
        margin: 0;
    }
}

.selec_dish{
    @include selec_dish;

    &:hover{

        @keyframes selec_dish {
            0% {
              opacity: .5;
              transform: translate(50px, 0);
            }
          
            20% {
              opacity: .6;
              transform: translate(30px, 0);
            }
          
            40% {
              opacity: .7;
              transform: translate(20px, 0);
            }
          
            60% {
              opacity: .8;
              transform: translate(15px, 0);
            }
          
            80% {
              opacity: .9;
              transform: translate(7px, 0);
            }
          
            100% {
              opacity: 1;
              transform: translate(1px, 0);
            }
          }
    }
}

.check_box_icone{
    @include check_box_icone;

    &:hover{
        @keyframes check_box_icone {
            10% {
            transform: rotate(-90deg);
            }
        
            20% {
            transform: rotate(-75deg) scale(1.03);
            }
        
            40% {
            transform: rotate(-60deg) scale(1.08);
            }
        
            60% {
            transform: rotate(-45deg) scale(1.15);
            }
        
            80% {
            transform: rotate(-30deg) scale(1.08);
            }
        
            100% {
            transform: rotate(5deg) scale(1);
            }
        }
    } 
}

.starter_box{
    @include menu_box;
    @include box_apparition_1;
}

.main_dish_box{
    @include menu_box;
    @include box_apparition_2;   
}

.dessert_box{
    @include menu_box;
    @include box_apparition_3;
}

//**Boutton Commander**//
.order{
    @include order;

    .button_order{
        @include button;
        margin-right: 50px;

        &:hover{
            @include movement_btn;
        }

        &:focus{
            @include order_focus;    
        }
    }
}

.finish{
    @include order;

    .button_finish{
        @include button;
        margin-right: 50px;

        &:hover{
            @include movement_btn;
        }
    }
}

//**Page formulaire**//
#form{
    @include form;

        .form_title{
            @include form_title;
        }

            .form_framing{
                @include form_framing;
            }

                .form_text{
                    @include form_text
                }

                    .form_text--adress{
                        @include form_adress;
                    }
}

//**Confirmation de la commande**//
#order_confirmation{
   @include order_conf;

        .order_confirmation--title{
           @include  order_conf_title;
        }

            .order_confirmation--size{
                @include order_conf_size;
            }
}

//**Footer**//
#information{
    @include information;

        .information_logo{
            @include information_logo;
        } 
            .information_title{
                @include information_title;
            }
}    

.information_box{
    @include info_box;

    .information_box--option_list{
        @include info_list;
    
        .option{
            @include option;
        }
        
        .option:hover{
            @include icone_footer ;
        }

        .icone{
           @include icone;
        }
    }
}
