/***Variables et Mixins**/
@import 'variable.scss';
@import 'mixin.scss';



/***CSS page de base***/
body{
    @include body;
}

main{
    @include main;
}

///**loading-spinner**///
.loading{
    @include loading;

    @keyframes disparition{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
}

.loading_spinner{
        @include loading_spinner;
        
        @keyframes loading {
            to{
                transform: rotate(1turn);
            }
        }
    
        .icone_onglet{
            width: 80px;
        }
}

.loading_text{
    @include loading_text;
}

///****header****///
#header{
    @include header;

    .header_logo{
        @include header_logo
    }
}

/*Menu de navigation*/
.header_navigation{
    @include header_navigation;
    
    .header_navigation_menu{
        @include header_navigation_menu;
    }

        .header_navigation_menu--list{
            @include header_navigation_menu--list;
            
        }

            a{
                text-decoration: none;
                position: relative;
                list-style-type: none;
            }

                .header_navigation_menu--list--link{
                    @include header_navigation_menu--list--link;
                }

                    .header_navigation_menu--list--link:hover{
                        @include navigatoin_hover;
                    }           
}

.header_framing{
    @include header_framing;
}

.back_to_home_page{
    @include back_btn;

    &:hover{
        @include back_btn--hover;
    }
}

//**Image header**//
.card_img{
    @include card_img;

    .picture_header{
        @include img_picture;
    }
}

.img_title_header{
    @include img_title_header;
}

/*Intro*/
#home_page_intro{
   @include home_page_intro;

    .home_page_intro_framing{
        @include intro_framing;

            .site_title{
                @include site_title;
            }

                .introduction{
                    @include intro;
                }
    }
}
/**button**/
.btn_home_page{
    @include button_home_page;

    .button{
        @include button;
        
        &:hover{
            @include button_hover;
        }
    }

    .button_index{
        @include button_index;
        
        &:hover{
            @include button_hover;
        }
    }
}

//**Operation**//
#operation_box_shadow{
    @include operation_box_shadow;
}

.operation{
    @include operation;

    .operation_number{
        @include operation_number;
    }
        .operation_number--choice{
            @include operation_choice;
        }

        .operation_number--choice--color{
            @include operation_choice;
        }

            .operation_number--choice--color:hover{
                @include operation_hover;
            }

                .operation_number--choice--title{
                    @include operation_title;
                }   
                    .operation_number--choice:hover{
                        @include operation_hover;
                    }
                        .icone{
                            @include icone;
                        }                   
}

//**barre de recherche**//
.search_bar{
    @include search_bar;

    .search_bar-input{
       @include search_bar_input;
    }

        .fa-map-marker-alt{
            @include search_bar_icone
            
        }
}

//**Restaurants / Menu **//
//**Les plus populaires**//
#trending{
    @include trending;

    .trending_title{
        @include trending_title;
    }

        .trending_framing{
            @include trending_framing;
        }

            .card_img_1{
                @include card_img_1;
            }
}

#menu{
    @include menu;
}

#restaurants{
    @include restaurants;

        .restaurants_title{
            @include restaurants_title;
        }
    
            .restaurants_framing{
                @include restaurants_framing;
            }

                .restaurants_link{
                    @include restaurants_link;
                }
}

.restaurant_card{
    @include restaurant_card;

        &:hover{
            @include restaurant_hover;
        }
    
            .card_img{
                @include card_img; 
                height: 325px;
            }

                .card_img_1{
                    @include card_img;
                    height: 325px;
                }

                    .card_img_2{
                        @include card_img;   
                        height: 325px;
                    }

                        .card_img_3{
                            @include card_img;
                            height: 325px;
                        }
                            .new{
                                @include new;
                            }
                
                                .card_text{
                                    @include card_text;
                                }
                
                                    .restaurant_name{
                                        @include restaurant_name;
                                    }
                
                                        .menu_name{
                                            @include menu_name;
                                        }
}

.home_page_like{
    @include home_page_like;
    

        .default_heart{
            @include default_heart;
            
        }

            .default_icone{
                @include default_icone;
                
            }

                .hover_heart{
                    @include hover_heart;
                    
                }

                    .hover_icone{
                        @include hover_icone;
                    }
            
                        .hover_icone:hover{
                            animation: heart 1s ease-in-out;
                            cursor: pointer;
                            

                            @keyframes heart {
                                0%{
                                    opacity: 0;
                                    
                                }
                                100%{
                                    opacity: 1;
                                }
                            }
                        }
} 

.menu_like{
    @include menu_like;

        .default_heart{
            @include default_heart ;    
        }

            .default_icone{
                @include default_icone;
            }

                .hover_heart{
                    @include hover_heart;
                }

                    .hover_icone{
                        @include hover_icone;
                    }
            
                        .hover_icone:hover{
                            animation: heart 1s ease-in-out;
                            cursor: pointer;
                    
                            @keyframes heart {
                                0%{
                                    opacity: 0;
                                    
                                }
                                100%{
                                    opacity: 1;
                                    
                                }
                            }
                        }
}

.title_dish{
   @include title_dish;
    
    &:hover{
        @include title_dish_hover;
    }

    &--name{
        @include dish_name;
    }

        &--ingredient{
            @include dish_ingredient;
        }
}

.check_box_icone{
    @include check_box_icone;

        &:hover{
            @keyframes rotate {
                to{
                    transform: rotate(1turn);
                }
            }
        } 
}
        
.price{
    @include price;

    .price_dish{
        @include price_dish;
    }  
}

.selec_dish{
    @include selec_dish;
}

.name_group_1{
    width: 19%;
    border-bottom: solid 3px $color-tertiary;
}

.name_group_2{
    width: 13%;
    border-bottom: solid 3px $color-tertiary;
}

.name_group_3{
    width: 22%;
    border-bottom: solid 3px $color-tertiary;
}

.starter_box{
    @include menu_box;
    @include box_apparition_1;
}

.main_dish_box{
    @include menu_box;
    @include box_apparition_2;   
}

.dessert_box{
    @include menu_box;
    @include box_apparition_3;
}

//**Boutton Commander**//
.order{
    @include order;

    .button_order{
        @include button;
        margin-right: 50px;

        &:hover{
            @include movement_btn;
        }

        &:focus{
            @include order_focus;    
        }
    }
}

.finish{
    @include finish;

    .button_finish{
        @include button;
        margin-right: 50px;

        &:hover{
            @include movement_btn;
        }
    }
}

//**Page formulaire**//
#form{
    @include form;

        .form_title{
            @include form_title;
        }

            .form_framing{
                @include form_framing;
            }

                .form_text{
                    @include form_text
                }

                    .form_text--adress{
                        @include form_adress;
                    }
}

//**Confirmation de la commande**//
#order_confirmation{
   @include order_conf;

        .order_confirmation--title{
            @include order_conf_title;
        }

            .order_confirmation--size{
                @include order_conf_size;
            }
}

//**Footer**//
#information{
    @include information;

        .information_logo{
            @include information_logo;
        } 
            .information_title{
                @include information_title;
            }
}    

.information_box{
    @include info_box;

    .information_box--option_list{
        @include info_list;
        
        .option{
            @include option;
            
        }
        
            .option:hover{
                @include icone_footer;    
            }

                .icone{
                @include icone;
                }
    }
}

a.contact_link{
    @include contact_link;

    &:hover{
        @include icone_footer;
    }
}