/***Variables et Mixins**/
@import 'variable.scss';
@import 'mixin.scss';
/***Variables et Mixins**/

/***CSS page de base***/
body{
    @include body;
}

main{
    @include main;
}
/***CSS page de base***/

///**loading-spinner**///
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient( 60deg, $color-secondary, $color-primary);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    animation: disparition 2s ease-in;
    animation-fill-mode: both;

    @keyframes disparition{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
}
.loading_spinner{
        display: flex;
        justify-content: center;
        border: solid 10px;
        border-top-color: #9356dc;
        border-bottom-color: #ff79da ;
        border-left-color: #99e2d0;
        border-right-color: #99e2d0;
        border-radius: 25%;
        position: relative;
        width: 80px;
        height: 80px;
        animation: loading 1.5s ease-in-out infinite;

        @keyframes loading {
            to{
                transform: rotate(1turn);
            }
        }
    
        .icone_onglet{
            width: 80px;
        }
}
.loading_text{
    font-family: "shrikhand regular", sans-serif;
    font-size: 3em;
    font-weight: normal;
    padding: 20px;
    color:$color-white ;
}
///**loading-spinner**///

///****header****///
#header{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    box-shadow: 0px 4px 10px 4px $box-shadow;
    z-index: 1;

    .header_logo{
        display: flex;
        justify-content: center;
        padding: 5em;
    }
}
/*Menu de navigation*/
.header_navigation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .header_navigation_menu{
        width: 30%;
    }

        .header_navigation_menu--list{
            font-size: 1.8em;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

            a{
                text-decoration: none;
                position: relative;
            }

                .header_navigation_menu--list--link{
                    list-style-type: none;
                    font-family: "shrikhand regular", sans-serif;
                    color: $color-primary;
                    position: relative;
                }

                    a.header_navigation_menu--list--link:hover{
                        position: relative;
                        text-decoration: underline;         
                    }           
}

.header_framing{
    display: flex;
    margin-top: 30px;
}
.back_to_home_page{
    font-size: 3em;
    color: $color-black;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        color:$color-tertiary;
        transition: opacity, 300ms;
    }
}


/*Intro*/
#home_page_intro{
    background: $color-grey-light;
    width: 100%;

    .home_page_intro_framing{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

            .site_title{
                width: 100%;
                font-size: 4.5em;
                font-weight: normal;
                font-family: "shrikhand regular", sans-serif;
                text-align: center;
            }

            .introduction{
                width: 100%;
                font-size: 2em;
                font-weight: normal;
                text-align: center;
            }
    }
}
/**button**/
.btn_home_page{
    padding: 2em;

    .button{
        color: $color-primary;
        border-radius: 2em;
        border: solid 1px $color-primary;
        font-size: 1.5em;
        font-weight: 600;
        width: 270px;
        height: 60px;
        box-shadow: 0px 7px 10px -6px $box-shadow;
        margin-bottom: 40px;
        text-align: center;
        transition: transform 400ms ease-in-out;
        position: relative;
        
        &:hover{
            transform: scale(1.09);
            transition: transform 400ms ease-in-out;
            background: linear-gradient($color-secondary, $color-primary);
            transition-delay: 150ms;
            box-shadow: 0px 7px 10px 0px $box-shadow;
            color: $color-white ;
            cursor: pointer;
        }
    }
}

//**Operation**//
.operation{
    margin: 3em 0em 4em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35em;
    position: relative;

    .operation_number{
        border-radius: 50px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        padding: 0;
        width: 50px;
        height: 45px;
        margin-right: -0.8em;
        background-color: $color-primary;
        color: $color-white;
        z-index: 2;
    }
        .operation_number-choice{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2em;
            font-size: 1.2em;
            width: 100%;
            padding: 10px 10px 10px 40px;
            background-color: #eaeaea;
            box-shadow: 0px 7px 10px -6px $box-shadow;
        }
            .operation_number-choice--title{
                font-size: 1.5em;
                margin-left: 20px;
            }

                .icone{
                    @include icone;
                }

                    & :hover{
                        background-color:#e4daf0;
                        transition: 0.4s ease-in-out;
                    }
}

//**barre de recherche**//
.search_bar{
    width: 25%;
    height: 3em;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 4px $box-shadow;

    .search_bar-input{
        width: 200px;
        height: 2em;
        background-color: transparent;
        border: none;
        font-size: 1.1em;
        color: $color-primary;
        text-align: center;
        margin-left: 10px;
        position: relative;
    }

        .fa-map-marker-alt{
            color: $color-primary;
            font-size: 1.3em;
        }
}


//**Les plus populaires**//
#trending{
    width: 100%;
    margin: 50px;
    background: $color-grey-light;

        .trending_title{
            text-align: center;
            font-size: 2.5em;
            font-weight: normal;
            font-family: "shrikhand regular", sans-serif;
        }

            .trending_framing{
                display: flex;
                justify-content: space-around;
            }

                .cart_img_1{
                    width: 100%;
                    height: 325px;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }
}

//**Restaurants**//
#restaurants{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 50px 0px;

        .restaurants_title{
            font-size: 4em;
            text-align: center;
            display: flex;
            font-family: "shrikhand regular", sans-serif;
            font-weight: normal;
            margin: 60px 0px 60px 0px;
        }
    
            .restaurants_framing{
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

                .restaurants_link{
                    text-decoration: none;
                }
}

/*cart restaurants*/
.restaurant_cart{
    width: 25vw;
    min-width: 150px;
    border-radius: 15px;
    margin: 0em 1em 3em 0em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px #0000002e;
    position: relative;
    background: $color-white;
    position: relative;

        &:hover{
            transform: scale(1.05);
            transition: transform 400ms ease-in-out;
        }
    
            .cart_img{
                width: 100%;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;   
            }
        
                .cart_img_2{
                    width: 100%;
                    height: 325px;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }
        
                    .new{
                        width: 120px;
                        height: 35px;
                        position: absolute;
                        top: 25px;
                        right: 25px;
                        font-size: 1.7em;
                        font-weight: bold;
                        background-color: $color-tertiary ;
                        color: $color-new;
                        padding-top: 10px;
                        text-align: center;
                        border: solid 1px $color-new;
                        border-radius: 15px;
                        box-shadow: 0px 0px 15px $color-tertiary ;
                    }
        
                        .card_text{
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                        }
        
                            .restaurant_name{
                                margin: 10px;
                                padding: 0;
                                color: black;
                                font-size: 1.5em;
                            }
        
                                .menu_name{
                                    font-size: 1.4em;
                                    font-weight: normal;
                                    margin: 10px;
                                    padding: 0;
                                    color: black;
                                }
}

.home_page_like{
    position: absolute;
    box-sizing: border-box;
    margin-left: 90%;
    top: 30px;

        .default_icone{
            position: absolute;
            border-color: linear-gradient( 60deg, $color-secondary, $color-primary);
        }

        .hover_icone{
            position: relative;
            color: linear-gradient( 60deg, $color-secondary, $color-primary);

            .hover_icone:hover{
                animation: heart 2s linear;
        
                @keyframes heart {
                    0%{
                        opacity: 0;
                        transition-delay: 1s;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        
        }
}

.menu_like{
    position: absolute;
    box-sizing: border-box;
    margin-left: 30%;
    top: 45px;

        .default_icone{
            position: absolute;
            border-color: linear-gradient( 60deg, $color-secondary, $color-primary);
        }

        .hover_icone{
            position: relative;
            color: linear-gradient( 60deg, $color-secondary, $color-primary);

            .hover_icone:hover{
                animation: heart 2s linear;
        
                @keyframes heart {
                    0%{
                        opacity: 0;
                        transition-delay: 1s;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        
        }

}         
//**Image header**//
.cart_img{
    display: flex;
    justify-content: center;
    align-items: center;

    .picture_header{
        height: 30em;
        width: 100%;
        object-fit: cover;
    }
}

.img_title_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "shrikhand regular", sans-serif;
    position: relative;
}

//**Menu**//
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5em;
    position: relative;
    background-color: $color-grey-light;
    padding: 30px 0px 50px 0px;
}

.title_dish{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    width: 100%;
    overflow: hidden;

    &--name{
        margin: 0;
        font-size: 1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        &--ingredient{
            margin: 0;
            font-size: 1.3em;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
}
        
.price{
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    padding: 10px;
    animation: check_box_price ease .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-width: 50px;

    &:hover{
        @keyframes check_box_price {
            0% {
              transform: translate(50px, 0);
            }
          
            40% {
              transform: translate(25px, 0);
            }
          
            70% {
              transform: translate(12px, 0);
            }
          
            100% {
              transform: translate(1px, 0);
            }
          }
    }
  
    &_dish{
        margin: 0;
    }
}

.selec_dish{
    animation: selec_dish ease .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    overflow: hidden;
    transform-origin: 50% 50%;

    &:hover{
        display: block;

        @keyframes selec_dish {
            0% {
              opacity: .5;
              transform: translate(50px, 0);
            }
          
            20% {
              opacity: .6;
              transform: translate(30px, 0);
            }
          
            40% {
              opacity: .7;
              transform: translate(20px, 0);
            }
          
            60% {
              opacity: .8;
              transform: translate(15px, 0);
            }
          
            80% {
              opacity: .9;
              transform: translate(7px, 0);
            }
          
            100% {
              opacity: 1;
              transform: translate(1px, 0);
            }
          }
    }
}

.check_box_icone{
    animation: check_box_icone ease .5s;
    animation-iteration-count: 1;
    background-color: $color-tertiary;
    color: $color-white;
    position: absolute;

    &:hover{
        @keyframes check_box_icone {
            10% {
            transform: rotate(-90deg);
            }
        
            20% {
            transform: rotate(-75deg) scale(1.03);
            }
        
            40% {
            transform: rotate(-60deg) scale(1.08);
            }
        
            60% {
            transform: rotate(-45deg) scale(1.15);
            }
        
            80% {
            transform: rotate(-30deg) scale(1.08);
            }
        
            100% {
            transform: rotate(5deg) scale(1);
            }
        }
    } 
}

.starter_box{
    @include menu_box;
    @include box_apparition_1;   

    &:hover{
        overflow: initial;
    }
}

.main_dish_box{
    @include menu_box;
    @include box_apparition_2;   
}

.dessert_box{
    @include menu_box;
    @include box_apparition_3;
}

//**Boutton Commander**//
.order{
    text-align: center; 
    margin-bottom: 50px;
    position: relative;

    .button{
        color: $color-primary;
        border-radius: 2em;
        border: solid 1px $color-primary;
        font-size: 1.5em;
        font-weight: 600;
        width: 270px;
        height: 60px;
        box-shadow: 0px 7px 10px -6px $box-shadow;
        margin: 20px 0px 20px 30px;
        text-align: center;
        transition: transform 400ms ease-in-out;

        &:hover{
            @include movement_btn;
        }

        &:focus{
            background: linear-gradient($color-primary, $color-tertiary);
            color: $color-white;
        }
    }
}

//**Page formulaire**//
#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: $color-grey-light;
    margin-bottom: 5em;

        .form_title{
            font-family: "shrikhand regular", sans-serif;
            font-size: 30px;
        }

            .form_framing{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

                .form_text{
                    margin: 10px;
                    background-color: $color-white;
                    color: $color-primary;
                    font-weight: bold;
                    font-size: 1.1em;
                    border: none;
                    position: relative;
                    padding: 15px;
                    border-radius: 10px;
                    width: 15em;
                }

                    .form_text_adress{
                        margin: 10px;
                        background-color: $color-white;
                        color: $color-primary;
                        font-size: 1.1em;
                        font-weight: bold;
                        border: none;
                        position: relative;
                        padding: 15px;
                        border-radius: 10px;
                        width: 34em;
                    }
}


//**Confirmation de la commande**//
#order_confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background: $color-grey-light;

        .order_confirmation--title{
            font-family: "shrikhand regular", sans-serif;
            font-size: 2.5em;
            text-align: center;
        }

            .order_confirmation--size{
                text-align: center;
                font-size: 1.5em
            }
}

//**Footer**//
#information{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px 0px 20px 0px;
    position: relative;

        .information_logo{
            display: flex;
            justify-content: center;
        } 
            .information_title{
                color: $color-white ;
                font-family: "shrikhand regular", sans-serif;
                font-size: 3em;
                margin-bottom: 20px;
                text-decoration: none;
            }
}    

.information_box{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .information_box--option_list{
        width: 100%;
        display: flex;
        justify-content: space-around;
    
        .option{
            display: flex;
            justify-content: center;
            width: 100%;
            text-decoration: none;
            color: $color-white ;
            font-size: 1.5em;
            text-align: center;
        }
        
        .option:hover{
            @include icone_footer ;
        }

        .icone{
           @include icone;
        }
    }
}
