/**variante color**/
$color-primary: #9356dc ;
$color-secondary: #ff79da ;
$color-secondary-ligter: #fcb2e7 ;
$color-tertiary: #99e2d0 ;
$color-new: #278870 ;
$color-white: #fff ;
$color-black: black;
$color-grey-light: #eaeaea;
$background-color: linear-gradient( 60deg $color-secondary, $color-primary);


/**variante shadow**/
$box-shadow: #bdb6b6cb ;
$box-shadow-darken: #0c0a0a65 ;

