body{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/****header****/

/***Top-header***/
#top-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo{
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;

    box-shadow: 0px 4px 10px 4px rgb(89 89 89 / 20%);

}

/***barre de recherche**/
.search_bar{
    width: 100%;
    height: 2.5em;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    z-index: -1;
}

#geolocation{
    width: 10vw;
    height: 2em;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

:placeholder-shown{
    font-size: 1em;
}
/***barre de recherche**/

/***Exploration***/
#exploration{
    width: 100%;
}

.framing_exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.site_title{
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.introduction{
    font-size: 1.5em;
    font-weight: normal;
    color: grey;
    margin-bottom: 50px;
}

/***button***/
.btn_exploration{
    text-align: center;
}

.button{
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 2em;
    border: none;
    font-size: 1.5em;
    width: 250px;
    height: 60px;
    display: inline-block;
    box-shadow: 0px 7px 10px -6px rgb(63 63 63 / 64%);
    position: relative;
    margin-bottom: 40px;
}

.button:hover{
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
    font-size: 1.5em;
    cursor: pointer;
}
/***button***/


/***Operation***/
#operation{
    width: 100%;
    text-align: center;
}

.operation_title{
    font-size: 2.2em;
    margin-bottom: 50px;
    margin-top: 40px;
}

.framing_operation{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.number{
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin-top: 27px;
    margin-right: -0.5em;
    width: 30px;
    height: 30px;
    background-color: #9356dc;
    color: white;
    z-index: 1;
}

p{
    margin: 3px 0px 0px 0px;
}

.choice{
    display: flex;
    border-radius: 1em;
    align-items: center;
    width: 20vw;
    height: 60px;
    padding: 10px 10px 10px 40px;
    margin-right: 3em;
    background-color: #eaeaea;
    box-shadow: 0px 7px 10px -6px rgb(63 63 63 / 64%);
    cursor: pointer;
}

h3{
    font-size: 1.4em;
    padding: 0px 0px 0px 30px;
    margin: 0;
}

.choice:hover{
    background-color: #e4d5f6;
}
/***Operation***/

/***Restaurants***/
#restaurants{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurants_title{
    font-size: 2.2em;
    text-align: center;
    display: flex;
}

.framing_restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    align-items: center;
    width: 75%;
}

a{
    text-decoration: none;
}

.cart_restaurant{
    width: 25vw;
    min-width: 150px;
    height: 450px;
    border-radius: 15px;
    margin: 0em 1em 3em 0em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000002e; 
}

.cart_img{
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.cart_img_2{
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.new{
    text-align: center;
    width: 90px;
    height: 25px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    background-color: #99E2D0;
    color: #278870;
    padding-top: 5px;
}

.card_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restaurant_name{
    margin: 10px;
    padding: 0;
    color: black;
}

.menu_name{
    font-size: 16px;
    font-weight: normal;
    margin: 10px;
    padding: 0;
    color: black;
}

.icone_heart{
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: grey;
}
/***Restaurants***/

